@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --font-style: verdana;
    --size-font-S: 0.7rem;
    --size-font-M: 0.96rem;
    --size-font-L: 1.9rem;
    --main-button: #24801f;
    --hover--button: #2222c9;
    --background--color: linear-gradient(180deg, rgba(115, 186, 114, 0.555) 0%, rgb(128, 176, 107) 90%);
}
.gravitas-one-regular {
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
}

*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html,
body {
    height: 100%;
    background: #252423;
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: #6610f2;
    align-items: center;
    justify-content: space-between;
}
.navbar .collapse{
    margin: auto;
    justify-content: end;
}
.navbar .navbar-toggler{
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}
.navbar .navbar-toggler:hover{
    border: none;
    transform: rotate(360deg);
}
.navbar .navbar-brand{
    font-family: Gravitas one;
    color: #fff;
    font-weight: 900;
    font-size: 1.6rem;
    transition: 0.5s;
}
.navbar .navbar-brand:hover{
    transform: translatex(5px);
}
.navbar .collapse .nav-item .nav-link.active{
    color: #00ca4e;
}

.navbar ul li a{
    font-size: 1.1rem;
    font-family: Rubik;
    font-weight: 800;
    transition: 0.5s;
    color: #fff;
}
.navbar ul li a:hover{
    color: #00ca4e;
}

.intro{
    margin: 30px 0;
    padding: 15px;
}
.intro .swiper {
    width: 100%;
    background: linear-gradient(360deg ,#00ca4e 0% , #6610f2 100%);
    border-radius: 25px;
}
.swiper-slide {
    justify-content: center;
    margin: 100px auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
    justify-content: start;
}

.parallax-bg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    position: absolute;
}
.parallax-bg img{
    max-width: 100%;
}
.swiper-slide .title {
    font-size: var(--size-font-L);
    color: #00ca4e;
    font-weight: 990;
}

.swiper-slide .subtitle {
    font-size: var(--size-font-M);
    color: #fff;
    font-weight: 800;
}

.swiper-slide .text {
    margin-top: 5px;
    font-style: verdana;
    font-size: var(--size-font-S);
    font-weight: 600;
    line-height: 1.5;
    width: 400px;
    color: #f6f4f2db;
}
.swiper-slide button{
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    color: #fff;
    margin-top: 10px;
    background-color: var(--main-button);
    transition: 1s;
}
.swiper-slide button:hover{
    transform: scale(1.1);
    background-color: var(--hover--button);
}

.T_QR{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 6px;
}

.T_QR .items{
    backdrop-filter: blur(25px);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background: #ffffff26;
}
.T_QR .m-items{
    display: flex; 
}
.T_QR .m-items a{
    color: #00ca4e;
    margin: 2px;
    text-decoration: none;
    font-weight: bold;
    font-family: Rubik;
    font-size: 1.3rem;
    transition: 0.5s;
}
.T_QR a:hover{
    color: #F6F4F2;
}
.T_QR p{
    margin-top: 5px;
    font-style: verdana;
    font-size: var(--size-font-S);
    font-weight: 600;
    line-height: 1.5;
    color: #f6f4f2db;
}

.anatomy{
    background-image: url(/static/images/pngwing.com.png);
    background-size: cover;
    background-position: center;
}
.tools{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff26;
    backdrop-filter: blur(25px);
    border-radius: 15px;
}
.tools img{
    border-radius: 10px;
    max-width: 60%;
    margin: auto
}
.circle {
    display: grid;
    margin-top: 20px;
}
.circle h1{
    margin: auto;
    font-size: 1.3rem;
    color: #F6F4F2;
    font-family: Gravitas One;
    margin-top: 10px;
    margin-bottom: 10px;
}
.circle h6{
    content: "";
    width: 100%;
    height: 5px;
    position: relative;
    margin: 5px;
    border-radius: 0px 10px 10px 0;
    background: #fff;
}
.circle p{
    margin-top: 5px;
    font-style: verdana;
    font-size: var(--size-font-S);
    font-weight: 600;
    line-height: 1.5;
    color: #f6f4f2bc;
}
.circle span{
    justify-content: space-between;
    margin-top: -9px;
    margin-left: 5px;
    height: 15px;
    width: 15px;
    padding: 10px;
    border-radius: 0 0 50% 50%;
}

.color1{
    background: #e5006c;
}
.color2{
    background: #6610f2;
}
.color3{
    background: #0dcaf0;
}
.color4{
    background: #6f42c1;
}
.color5{
    background: #7f7e84;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: url(/static/images/Red-and-blue-abstract-liquid-face-in-splash-isolated-3d-illustration-on-transparent-background-PNG.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-class{
    background-color: #ffffff26;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    align-items: center;
    width: 90%;
    margin: 25px 0;
}
.footer-class .main{
    display: grid;
    justify-content: center;
    margin-top: 150px;
}
.footer-class .main h1{
    color: #F6F4F2;
    font-family: Gravitas One;
    font-size: 3rem;
    margin-bottom: 5px;
}
.footer-class .main p{
    color: #F6F4F2;
    margin: auto;
    font-family: verdana;
}
.footer-class .butn{
    display: flex;
    align-items: center;
    margin: 20px auto;
    justify-content: center;
}
.footer-class .butn a{
    font-size: 1.4rem;
    font-family: Rubik;
    padding: 10px 35px;
    border-radius: 25px;
    color: #00ca4e;
    background-color: #252423;
    transition: 0.5s;
    text-decoration: none;
}
.footer-class .butn a:hover{
    background-color: #00ca4e;
    color: #252423;
}

.footer-class .hz-line{
    margin: auto;
    width: 85%;
    height: 1.5px;
    background-color: #252423;
    margin-top: 100px;
}
.footer-class .terms{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-year{
    display: flex;
    margin: 5px;
    color: #F6F4F2;
}
.footer-class .social a{
    color: #F6F4F2;
    margin: 0 5px;
    font-size: 1.2rem;
    transition: 0.5s;
}
.footer-class .social a:hover{
    color: #00ca4e;
}
.footer-class h5{
    color: #F6F4F2;
    font-size: 1rem;
}
.footer-class span{
    font-family: Rubik;
    font-size: 1.3rem;
    color: #00ca4e;
}
