:root{
    --font-style: verdana;
    --main-button: #008000;
    --hover--button: #38b000;
    --background--color: linear-gradient(180deg, #2c2c2c 0%, #262525 90%);
    --backgound-2: linear-gradient(180deg,var(--main-button)0%,var(--hover--button) 80%);
}
.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.rubik-scribble-regular {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}


*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background: var(--background--color);
}
.home{
    display: flex;
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 25px;
    align-items: center;
    background-color: #03030388;
    justify-content: space-between;
}
.home .logo{
    display: flex;
    align-items: center;
}
.home h1{
    font-family: var(--font-style);
    margin: 10px;
    color: #fff;
}
.home .logo img{
    width: 100%;
    height: 80px;
}

.home .menu{
    display: flex;
    font-size: 1.5rem;
    font-family: var(--font-style);
    font-weight: bold;
}
.home .menu ul {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}
.home .menu ul li{
    display: grid;
    align-items: center;
    justify-content: center;
}
.home .menu ul li i{
    display: flex;
    justify-content: center;
}
.home .menu ul a{
    margin: 5px;
    color: #fff;
    font-family: var(--font-style);
}
.home .menu ul a:hover{
    color: var(--hover--button);
    transition: 1s;
}
.QRCODE{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.I-QR {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    padding: 10px;
}
.I-QR img{
    margin: auto;
    width: 80%;
}
.I-QR h1{
    font-size: 1rem;
    color: #fff;
    font-family: var(--font-style);
    margin-top: 10px;
}
.I-QR p{
    margin-top: 5px;
    color: #ffffff84;
    font-size: smaller;
}
/* .skill{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #079407;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
} */
.G-code{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15 auto;
    padding: 10px;
}
.G-code .Qr{
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.G-code .Qr a{
    color: #fff;
    margin: auto;
    font-size: small;
    font-family: var(--font-style);
    background-color: var(--main-button);
    padding: 10px;
    margin-top: 5px;
    border-radius: 20px;
}
.G-code .Qr a:hover{
    color: var(--hover--button);
    transition: 1.2s;
    background-color: var(--background--color);
}
.G-code .Qr img{
    margin: auto;
    width: 100%;
}
.G-code .Q-info{
    display: grid;
    text-wrap: balance;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.G-code .Q-info h1{
    font-size: 1rem;
    color: #fff;
    font-family: var(--font-style);
    margin-top: 10px;
}
.G-code .Q-info p{
    margin-top: 5px;
    color: #ffffff84;
    font-size: smaller;
}

/* VCARD */
.v-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    padding: 10px;
}
.v-code .vCard{
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.v-code .vCard img{
    margin: auto;
    height: auto;
    width: 100%;
}
.v-code .vCard a{
    color: #fff;
    margin: auto;
    font-size: small;
    font-family: var(--font-style);
    background-color: var(--main-button);
    padding: 10px;
    border-radius: 20px;
}
.v-code .vCard a:hover{
    color: var(--hover--button);
    transition: 1.2s;
    background-color: var(--background--color);
}
.v-code .V-info{
    display: grid;
    text-wrap: balance;
    justify-content: center;
    align-items: center;
}
.v-code .V-info h1{
    font-size: 1rem;
    color: #fff;
    font-family: var(--font-style);
    margin-top: 10px;
}
.v-code .V-info p{
    margin-top: 5px;
    color: #ffffff84;
    font-size: smaller;
}
.W-code{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    padding: 10px;
}
.W-code .wifi{
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.W-code .wifi a{
    color: #fff;
    margin: auto;
    font-size: small;
    font-family: var(--font-style);
    background-color: var(--main-button);
    padding: 10px;
    margin-top: 5px;
    border-radius: 20px;
}
.W-code .wifi a:hover{
    color: var(--hover--button);
    transition: 1.2s;
    background-color: var(--background--color);
}
.W-code .wifi img{
    margin: auto;
    width: 100%;
}
.W-code .W-info{
    display: grid;
    text-wrap: balance;
    justify-content: center;
    align-items: center;
}
.W-code .W-info h1{
    font-size: 1rem;
    color: #fff;
    font-family: var(--font-style);
    margin-top: 10px;
}
.W-code .W-info p{
    margin-top: 5px;
    color: #ffffff84;
    font-size: smaller;
}
/* .hand{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}
.hand h1{
    font-family: var(--font-style);
    color: #fff;
}
.hand p{
    justify-content: center;
    color: #ffffff84;
}
.hand img{
    max-width: 430px;
    max-height: 420px;
} */
.digital{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding: 10px;
}
.digital img{
    margin: auto;
    max-width: 55%;
    background-image: url(/static/images/vcard.png);
    background-position: 50%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: 65%;
}
.digital h1{
    font-size: 1rem;
    color: #fff;
    font-family: var(--font-style);
    margin-top: 10px;
}
.digital p{
    margin-top: 5px;
    display: flex;
    font-size: smaller;
    justify-content: center;
    color: #ffffff84;
}

.T_QR {
    background-color: #161716bd;
    display: grid;
    margin: 20px;
    padding: 20px;
    border-radius: 50px 0 50px 50px;
    justify-content: center;
}
.T_QR img{
    display: flex;
    width: 80%;
    margin: auto;
}
.T_QR .items{
    padding: 10px;
    margin: auto;
    margin-top: 15px;
    width: 50%;
    background-color: #59535388;
    border-radius: 10px;
}
.T_QR .m-items{
    display: flex;
}
.T_QR .m-items a{
    color: #fff;
    margin: 2px;
    font-weight: bold;
    font-family: var(--font-style)
}
.T_QR a:hover{
    color: var(--hover--button);
}
.T_QR p{
    font-size: smaller;
    margin-top: 10px;
    color: #ffffffac;
}

.tools{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: #0f110fd8;
    border-radius: 50px 50px 50px 0;
}
.tools img{
    border-radius: 10px;
    max-width: 50%;
    margin: auto
}
.circle {
    display: grid;
    margin-top: 30px;
}
.circle h1{
    margin: auto;
    font-size: 1rem;
    color: #fff;
    font-family: var(--font-style);
    margin-top: 10px;
    margin-bottom: 10px;
}
.circle h6{
    content: "";
    width: 100%;
    height: 5px;
    position: relative;
    margin: 5px;
    border-radius: 0px 10px 10px 0;
    background: #fff;
}
.circle p{
    margin: 10px;
    color: #ffffff84;
}
.circle span{
    justify-content: space-between;
    margin-top: -9px;
    margin-left: 5px;
    height: 15px;
    width: 15px;
    padding: 10px;
    border-radius: 0 0 50% 50%;
}

.color1{
    background: #e5006c;
}
.color2{
    background: #6610f2;
}
.color3{
    background: #0dcaf0;
}
.color4{
    background: #6f42c1;
}
.color5{
    background: #7f7e84;
}



/* social */
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social button{
    margin: 20px;
}
.Btn {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #1877f2;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}

.Btn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  border: 1px solid rgba(230, 230, 230, 0.466);
  background-color: rgba(204, 204, 204, 0.466);
  backdrop-filter: blur(4px);
}


.Btntwit {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.svgContainertwit {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BGtwit {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}

.Btntwit:hover .BGtwit {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btntwit:hover .svgContainertwit {
  background-color: rgba(156, 156, 156, 0.466);
  backdrop-filter: blur(4px);
}

.Btninsta {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}

.svgContainerinsta {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BGinsta {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  z-index: -1;
  border-radius: 9px;
  pointer-events: none;
  transition: all 0.3s;
}

.Btninsta:hover .BGinsta {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btninsta:hover .svgContainerinsta {
  background-color: rgba(156, 156, 156, 0.466);
}

@media (max-width: 986px) {
    .home{
        display: flex;
        margin: 20px;
        padding: 20px;
        font-family: Red Hat Display;
    }
    .home .logo h1{
        font-size: 2.4rem;
    }
    .home .logo img {
        width: 100%;
        height: 80px;
    }
    .menu ul li{
        margin: 5px;
    }
    .menu ul a{
        font-size: 1.5rem;
    }
    .I-QR{
        display: grid;
        margin: 10px;
    }
    .I-QR h1{
        margin-top: 10%;
    }
    .I-QR img{
        margin-top: 15%;
        width: 100%;
    }
    .G-code{
        display: grid;
        margin: 10px;
    }
    .G-code .Qr img{
        width: 100%;
    }
    .G-code .Qr a{
        width: 40%;
        padding: 30px;
        margin: 10px auto;
        font-size: 2rem;
    }
    .v-code{
        display: grid;
        margin: 10px;
    }
    .v-code img{
        width: 50%;
    }
    .v-code .vCard a{
        width: 40%;
        padding: 30px;
        margin: 10px auto;
        font-size: 2rem;
    }
    .W-code{
        display: grid;
        margin: 10px;
    }
    .W-code .wifi img{
        width: 100%;
    }
    .W-code .wifi a{
        width: 40%;
        padding: 30px;
        margin: 10px auto;
        font-size: 2rem;
    }
    .digital{
        display: grid;
        margin: 10px;
    }
    .digital img{
        max-width: 100%;
    }
    .tools{
        display: grid;
        margin: 20px;
    }
    .tools img{
        width: 900px;
    }
    .tools .circle h1{
        display: flex;
        font-size: 3rem;
    }
    .T_QR{
        display: grid;
        margin: 20px;
        justify-content: center;
    }
    .T_QR img{
        margin: auto;
        width: 100%;
    }
    .T_QR .items{
        display: grid;
        margin: 5px auto;
        padding: 20px;
        width: 90%;
    }
    .T_QR .m-items a{
        margin: 5px;
        font-size: 2rem;
    }
    .T_QR .items p{
        margin: 5px;
        font-size: 1.4rem;
    }
    .social{
        margin: 15px;
    }
    .Btn,.Btntwit,.Btninsta{
        width: 80px;
        height: 80px;
    }
    .svgContainer,.svgContainerinsta,
    .svgContainertwit,.BG,.BGinsta,.BGtwit{
        border-radius: 20px;
    }
}
@media (max-width: 600px) {
    .home .logo img {
        width: 100%;
        height: 45px;
    }
    .home .logo h1{
        font-size: 1.7rem;
    }
    .menu ul a{
        font-size: 0.6rem;
    }
    
}
@media (max-width: 400px) {
    .home{
        padding: 10px;
        border-radius: 15px;
    }
    .home .logo img {
        height: 30px;
    }
    .home .logo h1{
        font-size: 0.5rem;
    }
    .menu ul a{
        font-size: 0.5rem;
    }
    
}